.jumbotron {
  text-align: center;
  font-family: 'Yellowtail', cursive;
  font-size: 56px;
  width: 50%;
  float: left;
  margin-right: auto;
  margin-top: 2%;

}

.panel-default {
  border: 0px solid;
  border-radius: 16px;
  padding: 4px;
  display: block;
  float: left;
  margin-left: 10%;
  margin-top: 2%;
}

.panel-heading{
  font-size: 24px;
}

h3 {
  text-align: center;
}

.column {
  display: block;
  width: 28%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  float: left;

}

#profile {
  float: right;
  display: block;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 40%;
  height: 40%;
  float: right;
}

#header {
  float: left;
  display: block;
  width: 50%;
  margin-left: 5%;
  margin-right: auto;
}

#projects {
  text-align: center;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
